.bg-black {
  background-color: black;
}
#player1Name,#player2Name{
  color: red;
}
.page-header {
  text-align: center;
  color: #3cb76d;
  background-color: #823cb7;
  font-size: 20px;
}

p {
  font-size: 20px;
}
#lbScore2Label,#lbScore2Value,#lbScore1Label,#lbScore1Value {
  font-size: 30px;
}
#lbScore{
  text-align: center;
}
#players {
  background-color: blue;
  border-left: 1px solid #dddddd;
  padding:
}
#placeholder-1,#placeholder-2 {
  font-size: 60px;
  margin-left: 90px;
}
#results{
  background-color: #4286f4;
  height: 383px;
}
#player-1-panel{
  background-color: #4286f4;
  height: 383px;
}
#player-2-panel{
  background-color: #4286f4;
  height: 383px;

}
#dice-info{
  background-color: green;
  border-right: 3px solid #dddddd;
}
#new-game{
  background-color: #42f492;
  border-radius: 6px;
  padding: 10px;
  border: none;
  color: rgb(79, 78, 76);
  text-transform: uppercase;
  width: 250px;
  cursor: pointer;
}
#dice-display-p1, #hold-p1,#dice-display-p2, #hold-p2 {
  background-color: #3174e0;
  border-radius: 6px;
  padding: 10px;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
}
footer{
  background-color: black;
  height: 50px;
  color: white;
}

#placeholder {
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px 80px;
  /* border: 1px solid gray;
  border-radius: 10px; */
  font-size:80px;
}
